/*---------------------------------*/
/*ALINHAMENTO DA PÁGINA HOME*/
html{
    scroll-behavior: smooth;
} .body {
    padding: 0; margin: 0;
    background-repeat: repeat-y;
}

/* CORPO DA PÁGINA */
.home {
    max-width: 1349px;
    height: 630px;
    display: block; /* coloco os filhos em linhas com caracteristica de w e h */
} .cabecalho{
    display: flex;
    width: 98%;
    height: 12%;
    align-items: center; /* alinha os filhos na vertical */
    justify-content: space-between; /* alinha os filhos na horizontal */
} .texto{
    max-height: 400px;
    text-align: center;
} .botoes{
    display: flex;
    margin-top: 7%;
    justify-content: center;
}

/* BOTTON PROPRIEDADES */
/* BOTTON 1 */
.button-18 {  
    align-items: center; background-color: #ed354f; border: 0; border-radius: 100px; box-sizing: border-box; color: #ffffff;
    cursor: pointer; display: inline-flex; font-family: Roboto; font-size: 16px; font-weight: 600; justify-content: center;
    line-height: 20px; max-width: 480px; min-height: 40px; min-width: 0px; overflow: hidden; padding: 0px; padding-left: 20px;
    padding-right: 20px; text-align: center; touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none; -webkit-user-select: none; vertical-align: middle;
  }.button-18:hover, .button-18:focus { 
    background-color: #d10924; color: #ffffff;
  }.button-18:active {
    background: #767d87; color: rgb(255, 255, 255, .7);
  } .button-18:disabled { 
    cursor: not-allowed; background: rgba(0, 0, 0, .08); color: rgba(0, 0, 0, .3);
  }
  /* BOTTON 2 */
  .button-19 {
    margin-left: 50px; align-items: center; background-color: #ed354e00; border: 2; border-radius: 100px; box-sizing: border-box;
    color: #ffffff; cursor: pointer; display: inline-flex; font-family: Roboto; font-size: 16px; font-weight: 600; justify-content: center;
    line-height: 20px; max-width: 480px; min-height: 40px; min-width: 0px; overflow: hidden; padding: 0px; padding-left: 20px;
    padding-right: 20px; text-align: center; touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none; -webkit-user-select: none; vertical-align: middle;
}

/*---------------------------------*/
/*ALINHAMENTO DA PÁGINA SOBRE*/

.sobre {
    display: flex;
    flex-wrap: wrap;
    max-width: 1349px;
} .LATERALESQUERDA {
    float: left;
    width: 300px;
    height: 70%;
    margin: 2% 0 0 10%;
    padding: 2%;
    background-color: #272d2f;
    border: 1em;
    border: solid #d10924;
    border-radius: 2em;
} .LOGO{
    margin-left: 30px;
} .FOTO {
    margin-left: 65px;
} .LATERALDIREITA {
    padding: 2% 3%;
    width: 600px;
    background-color: #272d2f;
    border: 1em;
    border: solid #d10924;
    border-radius: 2em;
    margin: 25px;
}


/*---------------------------------*/
/*ALINHAMENTO DA PÁGINA PORTFÓLIO*/

.portifolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1349px;
    height: 630px;
    justify-content: center;
}
.potTitle {
    width: 100%;
    padding: 0 25%;
}
.contentPort {
    display: block;
    width: 700px;
    height: 435px;
    background-color: #272d2f;
    border: 1em;
    border: solid #d10924;
    border-radius: 2em;
    align-content: center;
    margin: 0 10px;
}
.menuPort{
    display: flex;
    justify-content: center;
}
.imgs{
    justify-content: space-between;
    width: 90%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin-left: 5%;

} .imgs > div > img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #d10924;
    border-radius: 1em;
}

/*---------------------------------*/
/*ALINHAMENTO DA PÁGINA PORTFÓLIO*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1349px;
    height: 610px;
}
.contactTitle {
    width: auto;
    margin-bottom: 10px;
    padding: 0 25%;
}
.contactContent {
    display: flex;
    width: 900px;
    height: 435px;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    gap: 10px 10px;
    background-color: #272d2f;
    border: 1em;
    border: solid #d10924;
    border-radius: 2em;
    margin: 0 10px;
} .input {
    border: 1em;
    border: solid #d10924;
    border-radius: 2em;
    height: 50px;
} .inputText {
    border: 1em;
    border: solid #d10924;
    border-radius: 2em;
    height: 200px;
    width: 800px;
} .contactFooter {
    padding-top: 5%;
} .form{
    padding-top: 2%;
    display: flex;
    max-height: 370px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    gap: 10px 10px;
}