/* ESTILO DAS FONTES HOME */
.a {
    font-family: Roboto;
    color: #ffff;
    text-decoration: none; /* REMOVE O SUBLINHADO QUE A TAG A POSSUI */
    padding: 10px 10px;
} .title {
    font-family: bebas neue;
    color: #ed354f;
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 116px;
} .title2 {
    font-family: bebas neue;
    color: #ffff;
    padding: 0;
    font-size: 70px;
    margin: 0;
} .subtittle {
    font-family: Roboto;
    color: #767d87;
    margin: 0;
    font-size: 20px;
    border: 0;
}

/* ESTILO DAS FONTES UNIVERSAIS */
.InfTitle {
    font-family: Roboto;
    color: #ed354f;
    text-decoration: none;
    margin: 0;
    text-align: center;
} .InfRandom {
    font-family: Roboto;
    color: #f2f2f2;
    text-decoration: none;
    margin: 0;
    text-align: center;
} .Title {
    font-family: Bebas Neue;
    color: #ed354f;
    text-decoration: none;
    margin: 0;
    text-align: center;
    font-size: 50px;
} .Random {
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-decoration: none;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
} .Year {
    text-align: center;
    font-family: Roboto;
    color: #f2f2f2;
    margin: 0;
} .RedTitle {
    text-align: center;
    font-family: Roboto;
    color: #ed354f;
    margin: 0;
} .SubTitle {
    text-align: center;
    font-family: Roboto;
    color: #767d87;
    margin: 0;
} .footerRandom {
    font-family: Roboto;
    color: #ffff;
    font-size: 14px;
    text-align: center;
} .footerTitle {
    font-family: Roboto;
    color: #d10924;
    font-size: 14px;
    text-align: center;
}